<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body style="color: aliceblue;">
    <div class="root">
        <!-- <nav class="links__wrapper d-flex"> -->
            <p class="d-flex">Навигация: </p>
            <a href="index.ejs">Главная</a>
            <a href="outcome.ejs">Расходы</a>
            <a href="invest.ejs">Инвестиции</a>
        <!-- </nav> -->
        
        <h1>Доходы</h1>

        <section class="forms">
            <form action="/income" id="FormIncomes" method="post">
                <%- include("partials/currency") %>
                <%- include("partials/amount") %>
                <%- include("partials/incomeCategory") %>
                <%- include("partials/submit") %>
            </form>
        </section>

        <table>
            <thead>
                <tr class="text-white">
                    <th>id</th>
                    <th>Валюта</th>
                    <th>Количество</th>
                    <th>Источник</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.income) { %>
                    <%- include("./partials/tableRowIncomeAdd.ejs") %>            
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>