<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="root">
        <p class="d-flex">Навигация: </p>
        <a href="index.ejs">Главная</a>
        <a href="income.ejs">Доходы</a>
        <a href="outcome.ejs">Расходы</a>
        <h1>Инвестиции</h1>

       <section class="forms">
            <form action="/invest" id="FormIncomes" method="post">
                <%-include("partials/currency")%>
                <%-include("partials/amount")%>
                <%-include ("partials/investCategory")%>
                <%-include("partials/submit")%>
            </form>
        </section>

        <table>
            <thead>
                <tr class="text-white">
                    <th>id</th>
                    <th>Валюта</th>
                    <th>Количество</th>
                    <th>Категория</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.invest) { %>
                    <%- include("./partials/tableRowInvestAdd.ejs") %>
                <% } %>
            </tbody>
        </table>

    </div>
</body>
</html>