<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="root">
        <a href="index.ejs">main</a>
        <a href="income.ejs">income</a>
        <a href="invest.ejs">invest</a>
        <h1>Outcome</h1>

        
        
        <section class="forms">
            <form action="#" id="FormOutcomes">
                <%- include("partials/currency") %>
                <!-- <label for="outCurrency">Валюта</label>
                <input type="number" name="outcomeCurrency" id="outCurrency" required> 
                <select name="outcomeCurrency" id="outCurrency" required>
                    <option value="">--Выберете валюту--</option>
                    <optgroup label="CASH">
                        <option value="rub">RUB</option>
                        <option value="usd">USD</option>
                        <option value="eur">EUR</option>
                        <option value="yen">YEN</option>
                        <option value="pnd">PND</option>
                        <option value="frc">FRC</option>
                    </optgroup>
                    <optgroup label="CRYPT">
                        <option value="btc">BTC</option>
                        <option value="eth">ETH</option>
                        <option value="teth">TETH</option>
                    </optgroup>
                </select> -->

                <!-- <label for="outValue"> Количество</label>
                <input type="number" name="outcomeValue" id="outValue" required> -->
                <%-include("partials/amount") %>
                <%-include("partials/category")%>
                <%-include("partials/submit")%>
                <!-- <input type="submit"> -->

            </form>
        </section> 

        <table>
            <thead>
                <tr class="text-white">
                    <th>id</th>
                    <th>Валюта</th>
                    <th>Количество</th>
                    <th>Категория</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- Сюда загружается контент с контроллера -->
                    <th><%= new Date().toLocaleDateString() %></th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Source</th>
                    <th> <%= new Date()%></th>
                </tr>
                

            </tbody>
        </table>

    </div>
</body>
</html>