<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body style="color: aliceblue;">
    <div class="root">
        <a href="index.ejs">main</a>
        <a href="income.ejs">income</a>
        <a href="invest.ejs">invest</a>
        <h1>Outcome</h1>

        <section class="forms">
            <form action="/outcome" id="FormOutcomes" method="post">
                <%- include("partials/currency") %>
                <%- include("partials/amount") %>
                <%- include("partials/outcomeCategory") %>
                <%- include("partials/submit") %>
            </form>
        </section> 

        <table>
            <thead>
                <tr class="text-white">
                    <th>id</th>
                    <th>Валюта</th>
                    <th>Количество</th>
                    <th>Категория</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.outcome) { %>
                    <%- include("./partials/tableRowOutcomeAdd.ejs") %>            
                <% } %>
            </tbody>
        </table>

    </div>
</body>
</html>